<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{ page.title }}">

    <link rel="icon"
        href="https://avatars.githubusercontent.com/u/219288256?s=400&u=c09956d75f233a80f45081beff4782bf5dd48695&v=4">

    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

    <title>{{ page.title }}</title>
</head>

<body>
    <main>
        {{ content }}
    </main>
</body>

</html>