<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0.0;url={{ page.this_url }}">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <title>{{ page.title }}</title>
</head>

<body>
    <div class="redirection">
        <h1>Redirection</h1>
        <p>You should have been redirected to <b>{{ page.this_url }}</b>!</p>
        <p>Click <a href="{{ page.this_url }}">here</a>, if this did not work!</p>
    </div>
</body>

</html>